<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daniel.edge">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <!--相机相册权限-->
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--振动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".view.activity.EdgeReceiverActivity"
            android:exported="false"
            android:theme="@style/AppTransparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <provider
            android:name=".config.EdgeFileProvider"
            android:authorities="${applicationId}.EdgeFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/edge_file_paths" />
        </provider>
    </application>

</manifest>