<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qiang.keyboard">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".constant.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_qkey_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_qkey_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.device.DeviceDetailActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".view.device.DeviceListActivity" />
        <activity
            android:name=".view.launch.LaunchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.SelectBluetoothActivity" />

        <service
            android:name=".service.BluetoothService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.BluetoothActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.SelectKeyboardActivity" />

        <service
            android:name=".service.InputService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service> <!-- 连接和断开的广播 -->
        <receiver
            android:name=".service.WebSocketReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="WebSocketReceiverPermission" /> <!-- 按键广播 -->
        <receiver
            android:name=".service.KeyboardReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="KeyboardReceiver" /> <!-- 文本发送服务 -->
        <service
            android:name=".service.WebSocketService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.account.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.keyboard.HalfKeyboardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.keyboard.AccountantActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.text.TextActivity" />
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".view.keyboard.KeyboardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.keyboard.CalculateActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>