<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiang.keyboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".constant.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_qkey_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_qkey_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--连接和断开的广播-->
        <receiver
            android:name=".service.WebSocketReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="WebSocketReceiverPermission" />
        <!--按键广播-->
        <receiver
            android:name=".service.KeyboardReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="KeyboardReceiver" />
        <!--文本发送服务-->
        <service
            android:name=".service.WebSocketService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.SelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask" />

        <activity
            android:name=".view.SendHalfKeyboardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.SendAccountantActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.SendTextActivity" />
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/action_settings" />

        <activity
            android:name=".view.SendKeyboardActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>